*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 20px;
  
}

.logo {
  cursor: pointer;
  margin-right: auto;
  width: auto;
  height: 5em;
}

.nav__links {
  list-style: none;

}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9; 
}

section{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

main {
  margin-left: 1cm;
  margin-right: 1cm;
}

.input_form{
  display: inline;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}

input{
  width: 10vw;
  margin-bottom: 100px;
}

form {
  margin-top: 0vw;
}
.input_form {
  border: 2px solid grey; /* Set the border color to grey */
  border-radius: 10px; /* Round the edges of the border */
  border-left: none; /* No border on the left */
  border-right: none; /* No border on the right */
  border-bottom: none; /* No border on the bottom */
  padding: 20px 10vw; /* Set the horizontal padding to 20vw and vertical padding to 20px */
  margin-bottom: 20px;
  display: block;
}

#departureTime {
  padding-right: 10px;
}