<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Error | TicketingSystem</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav__links">
          <li><a href="/homepage">homepage</a></li>
          <!--
          <li><a href="/issues">Issues</a></li>
          <li th:if="${isManager || isIt}">
            <a href="/ua_issues">Unassigned Issues</a>
          </li>*/
          <li th:if="${isIt}">
            <a href="/a_issues">Assigned Issues</a>
          </li>
          <li><a href="/KB">Knowledge Base</a></li>
          <li th:if="${isUser}">
            <a href="/report">Report Issue</a>
          </li>
          <li><a href="/notifications">Notifications</a></li>
          <li th:if="${isManager}">
            <a href="/statistics">Statistics</a>
          </li>
          -->
          <li><a href="/login">Logout</a></li>
        </ul>
      </nav>
      <div class="loggedInAs" th:text="${username}"></div>
    </header>
    <h1>An Error Has occured</h1>
    <p>Error Message: <p th:if="${error}" th:text="${error}"></p></p>
  </body>
</html>
