<!DOCTYPE html>
<html lang="en">
  <head>
      <title>TNSWPlannar</title>
      <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <header>
      <a href="index.html" class="logo">
          <img class="logo" src="images/cost.png" alt="logo">
      </a>
      <nav>
        <ul class="nav__links">
          <li><a href="index.html">Begin</a></li>
          <li><a href="Progress.html">Progress</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
        </ul>
      </nav>
      <a class="cta"href="contact.html"> <button>Contact</button></a>
    </header>
    <main>
      <section>
      <h1>NSW Public Transport Trip Planner</h1><br><hr>

      <form action="/process_query" method="post">
        <p>10101165 - Newcastle Interchange Station Code</p>
        <p>200060 - Sydney Central Station Code</p><br>
        <div>
            <label for="departureTime">Initial Departure Time:</label>
            <input type="datetime-local" id="departureTime" name="departureTime" value="2024-06-12T08:00" required>
        </div>
        <div class="input_form" id="initial_leg">
            <label for="departureStop">Departure Stop:</label>
            <input type="text" id="departureStop" name="departureStop" value="10101165" required>
            
            <label for="arrivalStop">Arrival Stop:</label>
            <input type="text" id="arrivalStop" name="arrivalStop" value="200060" required>
        </div>
        <input type="submit" value="Submit">
    </form>
    <div>
      <h1>Transport Results</h1>
      <table>
        <thead>
            <tr>
                <th>Route</th>
                <th>Destination</th>
                <th>Departure Time</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="stopEvent : ${stopEvents}">
                <td th:text="${stopEvent.routeNumber}"></td>
                <td th:text="${stopEvent.destination}"></td>
                <td th:text="${stopEvent.departureTimePlanned}"></td>
            </tr>
        </tbody>
    </table>
    </div>
    </main>
  </body>
</html>
